.button {
    border: none; /* border null */
    background-color: #4CAF50; /* Color verd de fons */
    color: white; /* Color de text */
    border-radius: 5px; /* Radius border */
    cursor: pointer; /* Transforma el cursor en una mà */

}

body {
    background-image: url("../img/bg-01.jpg"); /* Imatge de fons */
}

fieldset {
    border : 2px solid white;
    border-radius: 15px;
}